/* todo: delete file if not needed */

.userItem {
    cursor: pointer !important;
    text-decoration: none;
    height: 64px;
    position: relative;
    margin: 0px;
    padding: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, .10) !important;
}

.userItem.active {
    background: #f2f2f2;
}

.unreadBadge{
    background: #ea2f30;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 10px;
}
